<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Pilot</title>
    <object th:include="fragments/fragment :: css"></object>
    <object th:include="fragments/fragment :: js"></object>

</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
    <h1>Hello!</h1>
    <h3>Tambah Pilot</h3>
    <form th:action="@{/pilot/add}" th:object="${pilot}" method="POST">
        <label>License Number:</label>
        <input type="text" name="licenseNumber">
        <br>
        <label>Name:</label>
        <input type="text" name="name">
        <br>
        <label>Fly Hour:</label>
        <input type="number" name="flyHour">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>